@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dangrek&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

#main{
    background: #8cc461;
    height: 100vh;
    display: flex;
    padding: 40px;
    flex-direction: column;
}

#score-box{
    height: 25vh;
    border: solid 2px white;
    border-radius: 9px;
    width: 60vw;
    align-self: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    padding: 20px;
    
}

.upper-title{
    list-style: none;
    background: transparent;
    font-size: 2.2rem;
    color : #FFFFFF;
    font-weight: 500;
    letter-spacing: 2.5px;
}
.scores{
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    /* background: rgb(203, 226, 167); */
}
.pc-score ,.human-score {
    width: 139px;
    height: 128px;
    border-radius: 9px;
    padding: 20px;
    font-weight: 500;
    line-height: 19.92px;
    letter-spacing: 1.7px;
    background-color: #FFFFFF;
    ;
}
.scores p{
    font-size: 0.9rem;
}
.scores h1{
    font-size: 4.4rem;
    margin-top: 20px;
}
.game{
    display: flex;
    justify-content:center;
}
.game-wrapper-box {
    display: flex;
    justify-content: center;
    gap:20px;
    align-items: center; 
    text-align: center;
    
    padding: 40px;
    margin-top: 20px;  
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "left right"
    "center center";  
    justify-items: center;
    align-items: center;  
    gap: 20px; 
    height: 65vh; 
    width: 40%;
    margin-bottom: -20px;
}
.game-wrapper-box div{
    width: 110px;
    height: 110px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    gap:20px;
    align-items: center; 
    text-align: center;
    border-radius: 50%;
    padding: 50px;
    box-shadow: 0px 2px 5px  2px rgba(0, 0, 0, 0.216);
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.rock-div{
    border: 16px solid #0074B6;
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.085), 0 10px 10px rgba(0, 0, 0, 0.09);
   }

.scissor-div{
    border: 16px solid #BD00FF;
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.085), 0 10px 10px rgba(0, 0, 0, 0.09);
   }

.paper-div{
    border: 16px solid #FFA943;
    box-shadow: 0 10px 28px rgba(0, 0, 0, 0.085), 0 10px 10px rgba(0, 0, 0, 0.09);
    grid-area: center;
    display: flex;
    justify-content: center;
    align-items: center;
   }   
.rock-div::after, .scissor-div::after, .paper-div::after{
    content: '';
    position: absolute;
     z-index: 0;
     background: #334723;
     

}


.rock-div::after {
    /* left-line */
    width: 10px; 
    height: 120%; 
    top: 95%;
    left: 110%;
    transform: rotate(-30deg); 
}

.scissor-div::after {
    /* right-line */
    width: 10px; 
    height: 120%; 
    top: 97%;
    left: -20%;
    transform: rotate(30deg); 
}

.paper-div::after{
    /* upper-line */
    width: 10px; 
    height: 128%; 
    top: -215px; 
    left: 45%;
    transform: rotate(90deg);
  

}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 300px;
    height: 320px;
    margin-left: auto;
    margin-top: -350px;
    padding: 0;
    position: relative;
}
.footer-wrapper{
    position: relative;
}

.footer .rules-btn{
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 20px;
    width: 125px;
    height: 40px;
    border-radius: 10px;
    background: transparent;
    color: #ffffff;
    border: white 2px solid;
    cursor: pointer;
    float: right;
    position: relative;
    z-index: 1;
}
.footer button:hover{
    box-shadow: 0px 2px 5px  2px rgba(245, 244, 244, 0.105); 
    background: #75a45173;
}
.footer-wrapper .rules-content{
    line-height: 30px;
    padding: 20px;
}

.rules-content{
    /* hidden-rule-button */
    visibility: hidden;
    z-index: 100;
    border: 10px white solid;
    border-radius: 13px;
    color: white;
    background: #000;
    background: #004429;
}
.rules-content .show {
    display: block;
}
.rules-content h2{
    font-size: 1.5rem;
    text-align: center;
}
.rules-content ul{
    list-style-type: square;
    /* color: #ffd600; */

}
.rules-content ul li{
    font-size:0.8rem;
}

.close-btn-of-rules{
  float: right;
  margin-top: -60px;
  margin-right: -60px;
  background: red;
  color: white;
  border: white 7px solid;
  width: 60px;
  text-align: center;
  font-size: 2.7rem;
  padding: 10px;
  border-radius:50px;
  font-family: "Dangrek", sans-serif;}